core/__pycache__/*
cli/__pycache__/*
core/compound_generators/__pycache__/*
core/editors/__pycache__/*
._*
script.sh
.vscode/*
.DS_Store
xml/template master_ALTERED_COMPOUND_CAM.fcpxml
xml/template master_ALTERED_COMPOUND_GS.fcpxml
xml/template master_ALTERED_COMPOUND_SSB.fcpxml
xml/template master.fcpxml
webui/__pycache__/*
